html
    head
        meta(charset="utf-8")
        title Dessin des obstacles
        link(rel="stylesheet" href="style/main.css")
    body
        h1 Traçage des obstacles
        
        div(id="wrapper")
            canvas(id="canvas" width="1600px" height="900px")
            
            footer
                script(type="text/javascript" src="scripts/socket_io.js")
                script(type="text/javascript" src="scripts/script.js")
                p &copy Des gens 2016
    
        