body{
    background-color: #333333;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}
canvas{
    background-color: #444444;
}

#wrapper{
    margin: 0 auto;
    width: 1600px;
}
footer{
    text-align: center;
}